[Unit]
Description="Service that gets Instance ID, then the tags in AWS and based on that runs Treesip tests"
After=docker.target

[Service]
ExecStart=/home/ubuntu/EC2TestAutomator/main.sh

[Install]
WantedBy=default.target