[Unit]
Description="Service that gets Instance ID, then the tags in AWS and based on that runs Treesip tests"
After=network.target

[Service]
ExecStart=su ubuntu -c 'bash /home/ubuntu/EC2TestAutomator/main.sh'

[Install]
WantedBy=default.target